* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
} 
nav {
    background: cyan;
    height: 80px;
    width: 100%;
}
.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
 .active, .active:hover{
    background: skyblue;
    transition: 0.5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media  (max-width:952px){
    .logo {
        font-size:30px;
        padding-left: 30px;
        
    }
  
    nav ul li a {
        font-size: 16px;
        /* display: none; */
    }
}
@media  (max-width:858px ){
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: auto;
        background: lightblue;
        top:80px;
        left: -250vh;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        font-size: 20px;
    }
    .active , .active:hover {
        background: none;
    }
    #check:checked ~ul{
        left: 0;
    }
}